/* ----------------------------------------------CSS GENERAL------------------- */

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    font-family: "Crimson Text", serif;
    background-color: #F7F4EF;
}

body {
    background-color: #F7F4EF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
label,
form {
    font-family: "Crimson Text", serif;
    padding: 0.2em;
}

.lien {
    text-decoration: none;
    font-weight: bold;
    color: #595454;
    cursor: pointer;
}

.lien:hover {
    font-weight: bold;
    color: #dfa408;
}

li {
    list-style: none;
    padding: 0;
}

.main-content {
    width: 100%;
    padding-left: 15%;
    font-family: "Crimson Text", serif;
    background-color: #F7F4EF;

}

/**************** CSS SCROLL TOP******************************/
#scrollAutomatique {
    display: block;
    z-index: 9999;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 0.938em;
    right: 2.188em;
    cursor: pointer;
    background: #F7F4EF;
    border: 0.02em solid #dfa408;
    width: 2.5em;
    font-size: 1.563em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 3.125em;
    height: 2.5em;


}

.scrollAutomatique:hover,
.scrollAutomatique:focus,
.scrollAutomatique:focus-within {
    cursor: pointer;
    background-color: #F7F4EF;
}


/* -------------------CSS ENTETE ---------------------------- */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: #F7F4EF;
    padding: 20px;
    box-shadow: 0.8em 0.8em 1em #dddcda;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nom-prenom {
    margin-bottom: 20px;
    background-color: #dfa408;
    color: #F7F4EF;
    text-align: center;
    padding: 0.3em 1.2em 0.3em 1.2em;
    border-radius: 5px;
    opacity: 0.8;
}

.navigationLiens {

    padding: 0;
    margin: 0;
}

.navigationLiens ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigationLiens li {
    margin-bottom: 20px;
}

.navigationLiens a {
    text-decoration: none;
    color: #595454;
}

.navigationLiens a:hover {
    color: #dfa408;
}

#svgCv,
#svgLinkedin,
#svgGithub,
#icon-competences,
#icon-realisation,
#icon-plus {
    font-size: 2.5em;
    padding: 0.2em;
    color: #595454;
    margin-bottom: 10px;
}

#svgCv:hover,
#svgLinkedin:hover,
#svgGithub:hover {
    color: #dfa408;
}

#cv {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.2em;
}


/* main */


#titreDev {
    width: 100%;
    text-align: center;
}

.titre {
    position: relative;

}

.titre::after {
    content: "";
    /* contenu vide pour créer l'élément pseudo */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    border-bottom: 3px solid #dfa408;

}

.presentation {
    width: 70%;
}

#titreAboutMe {
    width: 98%;
    margin: 0.5em;
    margin-bottom: 2em;
    padding: 0.5em;
    box-shadow: 0.8em 0.8em 0.8em 0.8em #e6e3df;
}


/* popup */
#popup-container {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding-left: 10%;
    z-index: 99999;
}

#popup-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#more-button {
    background-color: #595454;
    opacity: 0.8;
    color: #F7F4EF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#more-button:hover {
    background-color: #dfa408;
}

/* Style pour les icônes dans des carrés distincts */
.icon-container {
    display: flex;
    justify-content: space-between;
}

.icon-box {
    position: relative;
    width: 30%;
    height: 20em;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
    background-color: #dfa408;
    color: #F7F4EF;
    text-align: left;
    flex-direction: column;
    align-items: center;
}



.icon-box i {
    display: block;
    margin: 0 auto;
}

.icon-box h3 {
    margin-top: 10px;
}

.icon-box:hover {

    cursor: pointer;
}


#icon-competences:hover,
#icon-realisation:hover,
#icon-plus:hover {
    cursor: pointer;

}


.icon-box:hover #competences-detail {
    display: block;
    z-index: 1;

}

.icon-box:hover #realisation-detail {
    display: block;
    z-index: 1;
}

.icon-box:hover #plus-detail {
    display: block;
    z-index: 1;
}

/* --------------CSS FOOTER----------------------------------------------- */
#footer {
    background-color: #F7F4EF;
    padding: 0.65em;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#infosUtilesFooter {
    display: flex;
    justify-content: space-around;
}


.menu-icon {
    display: none;
}

#navigationLiensFooter {
    display: none;
}

@media only screen and (max-width: 768px) {
    #navigationLiensFooter {
        display: block;
        width: 100%;
        justify-content: center;

    }

    #navigationResponsive {
        text-align: center;
    }


    #navigation {
        display: none;
    }


    .icon-container {
        flex-direction: column;
    }

    .icon-box {
        width: 100%;
        height: 10em;
        margin-bottom: 20px;
    }

    .detail-text {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .icon-box i {
        font-size: 24px;
    }

    .icon-box h3 {
        font-size: 18px;
    }


    .main-content {
        width: 80%;
        padding-left: 10%;
        margin-top: 100px;

    }


    .navigation-container {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #F7F4EF;
        padding: 10px;
    }

    .navigationLiens {
        flex-direction: column;
    }

    .navigationLiens li {
        margin-bottom: 10px;
    }

    #popup-container {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    #popup-content {
        padding: 10px;
    }


    #footer {
        padding: 10px;
    }

    #infosUtilesFooter {
        flex-direction: column;
    }
}



@media only screen and (max-width: 480px) {
    #navigationLiensFooter {
        display: block;
        width: 100%;

    }

    #navigationResponsive {
        text-align: center;
    }

    #navigation {
        width: 100%;
    }

    .icon-box {
        height: 8em;
    }

    .detail-text {
        font-size: 14px;
    }

    .icon-box i {
        font-size: 20px;
    }

    .icon-box h3 {
        font-size: 16px;
    }


    .main-content {
        width: 90%;
        padding-left: 5%;
        margin-top: 100px;
    }


    .navigation-container {
        height: 80px;

    }

    .navigationLiens li {
        margin-bottom: 5px;
    }


    #popup-container {
        width: 80%;
        padding: 5px;
    }

    #popup-content {
        padding: 5px;
    }


    #footer {
        padding: 5px;
    }
}